configuration {
    display-drun: "Apps";
    drun-display-format: "{name}";
    show-icons:  true;
    modi: "window,drun";
    font: "CodeNewRoman Nerd Font 10";
    icon-theme: "Arc";
}

@theme "squared-material-red"
/* Dark theme. */
window {
    width: 800px;
    opacity: 0.5;
}